.HomePage .content {
  position: relative;
}

.HomePage .Auction {
  position: absolute;
  right: 0px;
  top: -265px;
  z-index: 1;
}

.HomePage .content {
  padding-top: 24px;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 48px;
}

.HomePage .content h3 {
  color: #7e7a87;
}

.HomePage .content a {
  color: var(--primary-hover);
}

.HomePage .content h1 {
  display: flex;
  align-items: center;
}

.HomePage .content .jump-in {
  margin-left: 24px;
}

.HomePage .content .ui.button.jump-in {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 36px;
  line-height: 22px;
  padding: 12px 16px;
  width: auto;
  min-width: auto;
}

.HomePage .content .ui.button.jump-in:hover {
  transform: none;
}

.HomePage .content .jump-in .jump-in-icon {
  display: inline-block;
  background-image: url(../images/jump_in.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 6px;
}

.HomePage .warning {
  display: inline-block;
  align-items: center;
}

.HomePage .warning svg {
  display: inline-block;
  margin-right: 4px;
  color: var(--danger);
  top: 2px;
  position: relative;
}

.HomePage .welcome p {
  font-size: 20px;
  line-height: 28px;
}

.HomePage .welcome .title {
  margin-bottom: 24px;
  font-size: 40px;
}

.HomePage .learn-more {
  margin: 96px 0px;
}

.HomePage .learn-more h2 {
  font-size: 32px;
  margin-bottom: 24px;
}

.HomePage .disclaimer {
  margin-top: 96px;
}

.HomePage .disclaimer p {
  color: var(--secondary-text);
}

.HomePage .disclaimer b {
  color: var(--text);
}

@media (max-width: 991px) {
  .HomePage .Auction {
    position: relative;
    margin-top: 400px;
    left: 20px;
    width: calc(100% - 40px);
  }

  .HomePage .content {
    padding-top: 0px;
    margin-top: -200px;
  }

  .HomePage .welcome p {
    font-size: 16px;
    line-height: 28px;
  }

  .HomePage .welcome .title {
    margin-bottom: 24px;
    font-size: 32px;
  }

  .HomePage .content h1 {
    justify-content: flex-start;
    font-size: 24px;
  }

  .HomePage .content .jump-in {
    margin-left: 18px;
  }

  .HomePage .content .ui.button.jump-in .text {
    display: none;
  }

  .HomePage .content .jump-in .jump-in-icon {
    margin-left: 0px;
  }
}

@media (max-width: 440px) {
  .HomePage .welcome .title {
    margin-bottom: 24px;
    font-size: 28px;
  }

  .HomePage .content h1 {
    justify-content: flex-start;
    font-size: 24px;
  }

  .HomePage .content .jump-in {
    margin-left: 18px;
  }

  .HomePage .content .ui.button.jump-in {
    display: none;
  }
}
