.Auction {
  position: relative;
  background-color: #2a262f;
  padding: 24px;
  border-radius: 12px;
  width: var(--auction-widget-width);
  justify-content: stretch;
}

.Auction.loading {
  min-height: 212px;
}

.Auction .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.Auction .parcel {
  display: flex;
  align-items: center;
  font-size: larger;
  flex: 0 0;
  font-weight: bold;
}

.Auction .controls {
  display: flex;
  align-items: center;
  flex: 0 0;
}

.Auction .coords {
  background-color: var(--secondary-on-modal);
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  font-size: smaller;
  margin-left: 8px;
  padding-right: 12px;
}

.Auction .coords .pin {
  background-image: url(../images/pin.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.Auction .row {
  display: flex;
  flex-direction: row;
}

.Auction .column {
  display: flex;
  flex-direction: column;
}

.Auction .info {
  justify-content: space-between;
  margin-bottom: 16px;
}

.Auction .label {
  color: var(--secondary-text);
  text-transform: uppercase;
  margin-bottom: 4px;
}

.Auction .action .ui.button {
  width: 100%;
}

.Auction .action .approve-amount .ui.button.approve {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Auction .action .approve-amount {
  display: flex;
}

.Auction .action .approve-amount .ui.button+.ui.button {
  margin-left: 10px;
}

.Auction .action .approve-amount .ui.button.cancel-approve {
  background-color: var(--secondary-on-modal);
}

.Auction .action .place-bid {
  display: flex;
  position: relative;
}

.Auction .action .bid-amount {
  flex: 1 1 auto;
  outline: none;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: var(--text);
  padding-left: 16px;
  background-color: var(--secondary-on-modal);
}

.Auction .action .ui.button.bid {
  width: auto;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  flex: none;
}

.Auction .action .ui.button.bid:hover {
  transform: none;
}

.Auction .controls svg {
  width: 28px;
  height: 28px;
  opacity: 0.5;
  user-select: none;
}

.Auction .controls svg+svg {
  margin-left: 2px;
}

.Auction .controls svg.enabled {
  cursor: pointer;
  opacity: 1;
}

.Auction .owner-info {
  margin-bottom: 0px;
  align-items: end;
}

.Auction .owner-info .User {
  margin-top: 8px;
}
.Auction .ui.button.action-button {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 32px;
  line-height: 18px;
  padding: 7px 12px;
  width: auto;
  min-width: auto;
}

.Auction .ui.button.action-button svg {
  margin-left: 4px
}

.Auction .ui.button.action-button:hover {
  transform: none;
}

.Auction .error {
  margin-top: 16px;
  color: var(--error);
}
.Auction .preview {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--secondary-on-modal);
  background-color: var(--secondary);
  height: 170px;
  margin-bottom: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Auction .preview img {
  width: 100%;
}

.Auction .generate-preview {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1024px;
  height: 812px;
  opacity: 0;
  pointer-events: none;
}

.Auction .jump-in-icon {
  display: inline-block;
  background-image: url(../images/jump_in.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 6px;
}