.Preview {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid var(--secondary-on-modal);
  background-color: var(--secondary);
  height: 170px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

.Preview .Inspector {
  position: relative;
  width: 120%;
  height: calc(100% + 5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.Preview .ui.loader:before {
  border-color: var(--secondary-on-modal) !important;
}

.Preview.is-loading {
  opacity: 0;
}
