.Topbar {
  width: 100%;
  height: var(--topbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Topbar .title a {
  color: var(--text);
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.Topbar .title .back {
  margin-right: 4px;
}

.Topbar .actions {
  padding: 8px 8px;
}

.Topbar .actions .ui.button:hover {
  transform: none;
}

.Topbar .actions .ui.button + .ui.button {
  margin-left: 8px;
}

.Topbar .actions .ui.button.jump-in {
  display: flex;
  align-items: center;
  min-width: 100px;
}

.Topbar .actions .ui.button.jump-in .jump-in-icon {
  display: inline-block;
  background-image: url(../images/jump_in.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 6px;
}
