.User {
  display: flex;
  align-items: center;
  height: auto;
}

.User .name,
.User .loading {
  margin-left: 8px;
}

.User .dcl.avatar-face {
  flex: none;
}

.User .name {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
}
